<!-- <app-header-one [themeLogo]="themeLogo"></app-header-one> -->

<!-- home banner start -->
<div class="banner-slider">
    <div class="row">
        <div  class="carousel slide vertical" data-bs-ride="false">
            <div class="carousel-indicators">
             <button type="button" class="active" [class.active]="selectedField === 1" (click)="selectedField = 1"></button>
             <button type="button" [class.active]="selectedField === 2" (click)="selectedField = 2"></button>
             <button type="button" [class.active]="selectedField === 3" (click)="selectedField = 3"></button>
            </div>
            <div class="carousel-inner" style="background-color:linear-gradient(to left, #ddeff7 , white);">
              <div class="carousel-item active">
                <div class="ps-banner" style="background:linear-gradient(to left, #ddeff7 , white);">
                  <div class="container-initial">
                      <div class="ps-banner__block"  *ngIf="selectedField === 1">
                          <div class="ps-banner__content">
                              <h3 class="ps-banner__title">Get 50% discount on iphone<br>12 without exchange!Deal...</h3>
                              <div class="ps-banner__desc">Get 50% discount on iphone 12 without exchange!<br>Deal for limited time only. You can get the iphone<br>12 at the half priceright now on AT&T</div>
                              <a class="btn btn-solid mt-4" [routerLink]="['/shop/collection/left/sidebar']"> shop now </a> 
                          </div>
                          <div class="ps-banner__thumnail">
                            <h2 class="ps-text">01</h2>
                            <img class="ps-banner__img3" src="assets/images/home-circle.png" alt="alt">
                            <img class="ps-banner__img1" src="assets/images/elec-img.png" alt="alt">
                            <img class="ps-banner__image" src="assets/images/home-img2.png" alt="alt">
                          </div>
                      </div>
                      <div class="ps-banner__block"  *ngIf="selectedField === 2">
                        <div class="ps-banner__content">
                            <h3 class="ps-banner__title">Get 30% discount on electronic devices</h3>
                            <div class="ps-banner__desc1">Get Best Discounts With Our Exclusive Coupons & Offers On Electronics.<br>Today's Deal: Up to 30% Off on Washing Machines, Refrigerators, TV's, Laptops</div>
                            <a class="btn btn-solid mt-4" [routerLink]="['/shop/collection/left/sidebar']"> shop now </a> 
                        </div>
                        <div class="ps-banner__thumnail">
                          <h2 class="ps-text2">02</h2>
                          <img class="ps-banner__img3" src="assets/images/home-circle.png" alt="alt">
                          <img class="ps-banner__img2" src="assets/images/elec-img1.png" alt="alt">
                          <img class="ps-banner__image" src="assets/images/home-img2.png" alt="alt">
                        </div>
                    </div>
                    <div class="ps-banner__block"  *ngIf="selectedField === 3">
                      <div class="ps-banner__content">
                          <h3 class="ps-banner__title">Get 50% discount on iphone<br>12 without exchange!Deal...</h3>
                          <div class="ps-banner__desc">Get 50% discount on iphone 12 without exchange!<br>Deal for limited time only. You can get the iphone<br>12 at the half priceright now on AT&T</div>
                          <a class="btn btn-solid mt-4" [routerLink]="['/shop/collection/left/sidebar']"> shop now </a> 
                      </div>
                      <div class="ps-banner__thumnail">
                        <h2 class="ps-text">01</h2>
                        <img class="ps-banner__img3" src="assets/images/home-circle.png" alt="alt">
                        <img class="ps-banner__img1" src="assets/images/elec-img.png" alt="alt">
                        <img class="ps-banner__image" src="assets/images/home-img2.png" alt="alt">
                      </div>
                    </div>
                   </div>
                </div>
              </div>
             </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev"  [disabled]="selectedField===1" (click)="Previous()">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next"  [disabled]="selectedField===3" (click)="next()">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div>


<!-- <div class="container banner-slider">
    <div class="row">
        <div class="col-md-7">
            <img src="assets/images/banner/1.jpg" class="img-fluid height-banner" alt="electronics">
        </div>
        <div class="col-md-5">
            <div class="row home-banner">
                <div class="col-12">
                    <a [routerLink]="['/shop/collection/left/sidebar']" 
                       [queryParams]="{ category: 'Electronics'}">
                        <img src="assets/images/banner/2.jpg" class="img-fluid" alt="electronics">
                    </a>
                </div>
                <div class="col-12">
                    <a [routerLink]="['/shop/collection/left/sidebar']"
                       [queryParams]="{ category: 'Electronics'}">
                        <img src="assets/images/banner/3.jpg" class="img-fluid" alt="electronics">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- home banner end  -->

<!-- collection banner -->
<section class="banner-padding banner-goggles">
    <div class="container">
        <div class="row partition3">
            <div class="col-md-4" *ngFor="let collection of collections">
                <a [routerLink]="['/shop/collection/left/sidebar']"
                   [queryParams]="{ category: 'Electronics'}">
                    <div class="collection-banner p-right text-end">
                        <img [src]="collection.image" class="img-fluid" alt="">
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>{{collection.save}}</h4>
                                <h2>{{collection.title}}</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- collection banner end -->

<!-- slider tab  -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="theme-tab">
                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="tabs tab-title justify-content-center nav nav-pills" >
                        <li *ngFor="let collection of productCollections" [ngbNavItem]="collection">
                          <a ngbNavLink>
                             {{ collection }}
                          </a>
                          <ng-template ngbNavContent>
                            <div class="no-slider row">
                                <ng-container *ngFor="let product of getCollectionProducts(collection) | slice:0:8">
                                    <div class="product-box">
                                        <app-product-box-three [wishlisProduct]="wishlistproducts" [product]="product" [currency]="productService?.Currency">
                                        </app-product-box-three>
                                    </div>
                                </ng-container>
                            </div>
                          </ng-template>
                        </li>
                      </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider tab end -->

<!-- Cart Open To bottom Side-->
<app-cart-variation [direction]="'left'"></app-cart-variation> 
<!-- <app-footer-one [themeLogo]="themeLogo"></app-footer-one> -->
