.form-group .fwd {
  float: right;
  line-height: 1.5;
  font-size: 15px;
  color: #222222;
  font-weight: 500;
}
.btn-solid a{
  color:#ffffff;  
}
.btn-solid a:hover{
  color:#222222;  
}
.field-icon{
    float: right;
    position: relative;
    right: 9px;
    top: -43px;
}
