@media(max-width: 991px){
    .pincode-deliveryContainer > form {
        justify-content: center;
    }
}
.pincode-check{
    position: relative;
   left: -60px;
   background-color: transparent;
   outline: 0;
   font-size: 14px;
   font-weight: 700;
   border: 0;
   color: #ff3e6c;
   text-transform: capitalize;
}
.pincode-deliveryContainer>h4 {
   color: #282c3f;
   font-size: 16px;
   margin: 0;
   font-weight: 700;
   text-transform: uppercase;
   .bi-truck{
       margin-left: 5px;  
   }
}
.delivery-field {
   margin: 16px 0 0;
   padding: 0;
   position: relative;
}
.pincode-checkmark{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #23c5a0;
    position: absolute;
    display: inline-block;
    left: 78px;
    top: 5px;
    margin: 10px 0;
    .fa-check{
        color: #ffff;
        font-size: 11px;
        position: absolute;
        top: 3px;
        left: 2px;
    }
}
.pincode-serviceability-list li {
    margin-bottom: 10px;
}
.pincode-serviceabilityIcon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    vertical-align: middle;
}
.pincode-serviceability-list li h4 {
    font-weight: 700;
    margin: 0;
    color: #282c3f;
    font-size: 16px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}
.pincode-unserviceability-list li h4 {
    font-weight: 600;
    color: #ff371d;
    font-size: 14px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -7px
;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
