<!-- view Adress Start -->
<div *ngIf="!isAddNewAddress">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 faq-content">
            <div class="card mt-0">
                <div class="card-body">
                    <div class="top-sec">
                        <h3>Address Book</h3>
                        <a (click)="addNewAddress()" class="btn btn-sm btn-solid">+ Add New</a>
                    </div>
                    <div class="col-md-12 empty-cart-cls text-center" *ngIf='!Address?.length'>
                        <img src="assets/images/empty-wishlist.png" alt="Empty cart" title="Emprt cart">
                        <h3 class="mt-4"><b>You Have Not Added Any Addresses </b></h3>
                        <h4>Please click on ADD NEW TO ADD YOUR ADDRESS.</h4>
                    </div>
                    <div *ngIf='Address?.length' class="address-book-section">
                        <div class="row g-4">
                            <div class="select-box active col-xl-4 col-md-6" *ngFor="let address of Address">
                                <div class="address-box">
                                    <div class="top">
                                        <h6>{{address.name}} <span>{{address.type_id}}</span></h6>
                                    </div>
                                    <div class="middle" style="height:165px;">
                                        <div *ngIf="address.is_default" class="btn btn-secondary default_btn">Default
                                        </div>
                                        <div class="address">
                                            <p>{{address.address}}, {{address.area}}, {{address.landmark}}</p>
                                            <p>{{address.city}}, {{address.state}}, {{address.country}}</p>
                                            <p>{{address.pincode}}</p>
                                        </div>
                                        <div class="number">
                                            <p>mobile: <span>{{address.mobile}}</span></p>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <a (click)="editaddress(address)"
                                            class="bottom_btn btn btn-primary btn-edit">edit</a>
                                        <button [disabled]="address.is_default" (click)="deleteaddress(address.id)"
                                            class="bottom_btn btn btn-solid">remove</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- view Adress End -->
<!-- ADD NEW Adress Start -->
<div class="container-fluid" *ngIf="isAddNewAddress">
    <div class="row product-adding">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 faq-content p-0">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h3 class="address f-w-600">ADD ADDRESS</h3>
                    <a (click)="addNewAddress()" class="btn btn-sm btn-solid">View Your Addresses</a>
                </div>
                <!-- <div>
                    <a (click)="startgeolocation()" class="btn btn-sm btn-solid"><img _ngcontent-serverapp-c195=""
                            style="width:25px" src="assets/images/icon/location (2).png" alt=""> Locate Me </a>
                </div> -->
                <div *ngIf="googlemaps">
                    <div>
                        <input type="text" class="my-search-box" (keydown.enter)="$event.preventDefault()"
                            placeholder="Search Location" type="text" #search />
                    </div>
                    <google-map #myGoogleMap height="300px" width="100%" [zoom]="zoom" [center]="center"
                        [options]="options" (mapClick)="eventHandler($event,'mapClick')"
                        (mapDblclick)="eventHandler($event,'mapDblclick')" (mapDrag)="eventHandler($event,'mapDrag')"
                        (mapDragend)="eventHandler($event,'mapDragend')"
                        (mapRightclick)="eventHandler($event,'mapRightclick')"
                        (positionChanged)="eventHandler($event,'marker_positionChanged')"
                        (zoomChanged)="eventHandler($event,'zoomChanged')">

                        <map-marker #markerElem="mapMarker" *ngFor="let marker of markers" [position]="marker.position"
                            [label]="marker.label" [title]="marker.title" [options]="marker.options"
                            (mapDrag)="eventHandler($event,'mapDragMarker')"
                            (mapDragend)="eventHandler($event,'mapDragend')">
                        </map-marker>

                    </google-map>
                    <div *ngIf="autofill" style="float:right"> <a (click)="resetautofill()">reset autofill</a>
                    </div>
                    <h5 *ngIf="address">{{address}}</h5>
                </div>
                <form class="theme-form" [formGroup]="addAddressForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12 mb-2 mt-3">
                            <div class="field-label">Full name </div>
                            <input class="form-control" type="text" id="title" name="name" formControlName="name"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required="">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12 mb-2 mt-3">
                            <div class="field-label">Mobile Number </div>
                            <input class="form-control" type="tel" id="mobile" name="mobile" formControlName="mobile"
                                [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" required="">
                            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                <div *ngIf="f.mobile.errors?.required">Mobile No is required</div>
                                <div *ngIf="f.mobile.errors?.pattern">Please Enter Valid Mobile No .</div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12 mb-2">
                            <div class="field-label">Flat, House No., Building, Company, Apartment
                            </div>
                            <input class="form-control" type="text" id="address" name="address"
                                formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                                required="">
                            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required">address is required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12 mb-2">
                            <div class="field-label">Area, Street, Sector, Village</div>
                            <input class="form-control" type="area" id="area" name="name" formControlName="area"
                                [ngClass]="{ 'is-invalid': submitted && f.area.errors }" required="">
                            <div *ngIf="submitted && f.area.errors" class="invalid-feedback">
                                <div *ngIf="f.area.errors.required">Area, Street, Sector, Village is required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12 mb-2">
                            <div class="field-label">Landmark</div>
                            <input class="form-control" type="text" id="landmark" name="landmark"
                                formControlName="landmark" [ngClass]="{ 'is-invalid': submitted && f.landmark.errors }"
                                required="">
                            <div *ngIf="submitted && f.landmark.errors" class="invalid-feedback">
                                <div *ngIf="f.landmark.errors.required">landmark is required</div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!autofill" class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12 mb-2">
                            <fieldset>
                                <div class="field-label" for="country">Country</div>
                                <select #country class="form-select" name="country" id="country"
                                    formControlName="country"
                                    [ngClass]="{ 'is-invalid': submitted && f.country.errors }" required=""
                                    (change)="onCountryChange($event)">
                                    <option [value]="null">-- Select Your Country --</option>
                                    <option *ngFor="let country of countries" [value]="country | json">
                                        {{ country.flag }}&nbsp;&nbsp;{{ country.name }}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                    <div *ngIf="f.country.errors">Please select country.</div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12 mb-2">
                            <fieldset>
                                <div class="field-label" for="state">State</div>
                                <select #state class="form-control" name="state" id="state" formControlName="state"
                                    [ngClass]="{ 'is-invalid': submitted && f.state.errors }" required=""
                                    (change)="onStateChange($event)">
                                    <option [value]="null">-- Select Your State --</option>
                                    <option *ngFor="let state of states" [value]="state | json">
                                        {{ state.name }}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                    <div *ngIf="f.state.errors">Please select stste.</div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12 mb-2">
                            <fieldset>
                                <div class="field-label" for="city">City</div>
                                <select #city class="form-control" name="city" id="city" formControlName="city"
                                    [ngClass]="{ 'is-invalid': submitted && f.city.errors }" required=""
                                    (change)="onCityChange($event)">
                                    <option [value]="null">-- Select Your City --</option>
                                    <option *ngFor="let city of cities" [value]="city.name">
                                        {{ city.name }}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                    <div *ngIf="f.city.errors">Please select city.</div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div *ngIf="autofill" class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12 mb-2">
                            <!-- <fieldset>
                                                <div class="field-label" for="country">Country</div>
                                                <select
                                                  #country
                                                  class="form-select"
                                                  name="country"
                                                  id="country"
                                                  formControlName="country"
                                                  [ngClass]="{ 'is-invalid': submitted && f.country.errors }" required=""
                                                  >
                                                  <option [value]="null">-- Select Your Country --</option>
                                                  <option [value]="country.name">
                                                    {{ country.flag }}&nbsp;&nbsp;{{ country.name }}
                                                  </option>
                                                </select>
                                                <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                                    <div *ngIf="f.country.errors">Please select country.</div>
                                                </div>
                                              </fieldset> -->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12 mb-2">
                                <div class="field-label">Country</div>
                                <input class="form-control" type="text" id="country" name="country"
                                    formControlName="country"
                                    [ngClass]="{ 'is-invalid': submitted && f.country.errors }" required="">
                                <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                    <div *ngIf="f.country.errors.required">Please select country</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12 mb-2">
                            <fieldset>
                                <!-- <div class="field-label" for="state">State</div> -->
                                <!-- <select
                                                  #state
                                                  class="form-control"
                                                  name="state"
                                                  id="state"
                                                  formControlName="state"
                                                  [ngClass]="{ 'is-invalid': submitted && f.state.errors }" required=""
                                                  >
                                                  <option [value]="null">-- Select Your State --</option>
                                                  <option  [value]="state.name">
                                                    {{ state.name }}
                                                  </option>
                                                </select> -->
                                <div class="form-group col-md-12 col-sm-12 col-xs-12 mb-2">
                                    <div class="field-label">State</div>
                                    <input class="form-control" type="text" id="state" name="state"
                                        formControlName="state"
                                        [ngClass]="{ 'is-invalid': submitted && f.state.errors }" required="">
                                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                        <div *ngIf="f.state.errors.required">Please select state</div>
                                    </div>
                                </div>
                                <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                    <div *ngIf="f.state.errors">Please select stste.</div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12 mb-2">
                            <!-- <fieldset>
                                                <div class="field-label" for="city">City</div>
                                                <select
                                                  #city
                                                  class="form-control"
                                                  name="city"
                                                  id="city"
                                                  formControlName="city"
                                                  [ngClass]="{ 'is-invalid': submitted && f.city.errors }" required=""
                                                  >
                                                  <option [value]="null">-- Select Your City --</option>
                                                  <option [value]="city.name">
                                                    {{ city.name }}
                                                  </option>
                                                </select>
                                                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                                    <div *ngIf="f.city.errors">Please select city.</div>
                                                </div>
                                              </fieldset> -->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12 mb-2">
                                <div class="field-label">City</div>
                                <input class="form-control" type="text" id="city" name="state" formControlName="city"
                                    [ngClass]="{ 'is-invalid': submitted && f.city.errors }" required="">
                                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                    <div *ngIf="f.city.errors.required">Please select state</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12 mb-2">
                        <div class="field-label">Pin Code </div>
                        <input class="form-control" type="number" id="pincode" name="pincode" formControlName="pincode"
                            [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }" required="">
                        <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                            <div *ngIf="f.pincode.errors?.required">pincode is required</div>
                            <div *ngIf="f.pincode.errors?.pattern">Enter valid pincode</div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="field-label">Add delivery instructions</div>
                            <h6>Preferences are used to plan your delivery. However, shipments can sometimes arrive
                                early or later than planned.</h6>
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12 mb-2">
                            <div class="field-label">Address Type</div>
                            <select name="type" class="form-select me-2" formControlName="type"
                                [ngClass]="{ 'is-invalid': submitted && f.type.errors }" required="">
                                <option value="null" disabled>-- Select Address Type --</option>
                                <option value="HOME"> Home (7 am – 9 pm delivery) </option>
                                <option value="OFFICE"> Office/Commercial (10 AM - 6 PM delivery)</option>
                            </select>
                            <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                                <div *ngIf="f.type.errors">Please select type.</div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12 mb-2">
                            <div class="field-label">Set As Default?</div>
                            <input type="checkbox" id="is_default" class="checkbox" name="is_default"
                                formControlName="is_default" [(ngModel)]="defaultAddress" [checked]="true"> Make Address
                            As Default
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-sm btn-solid mt-2">Save Address</button>
                      </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit Adress End -->