.f-w-600 {
    font-size: 18px;
}
.field-label{
    margin-bottom: 0.2rem;
    font-weight: 500;
    font-size: 15px;
}
.checkbox{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}