.product-order .product-order-detail img {
    height: 60px;
}
.order_detail{
    font-weight: 600;
    text-transform: capitalize;
    margin: 0px!important;
}
 .order_detail {
    display: unset!important;
    text-align: center;
    align-items: unset!important;
}
.order_qty{
padding-left:28px;
}
.d-flex{
    display: flex!important;
}
.ft-right{
float:right;
}