<!-- breadcrumb start -->
<app-breadcrumb [title]="'404 page'" [breadcrumb]="'404 page'" *ngIf="!orderDetails"></app-breadcrumb>
<!-- breadcrumb End -->

<!-- section start -->
<section class="p-0" *ngIf="!orderDetails">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-section">
                    <h1>404</h1>
                    <h2>page not found</h2>
                    <a [routerLink]="'/home/fashion'" class="btn btn-solid">back to home</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->

<!-- thank-you section start -->
<section class="section-b-space light-layout" *ngIf="orderDetails">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>thank you</h2>
                    <p>Payment is has been received Order Placed Successfully</p>
                    <p>Transaction ID:{{ orderDetails.Transaction_id }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->

<!-- order-detail section start -->
<section class="section-b-space" *ngIf="orderDetails">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-order">
                    <h3>your order details</h3>
                    <div class="row text-center mt-4">
                        <div class="col-2">
                          <h4 class="order_detail">Image</h4>
                        </div> 
                        <div class="col-3">
                            <h4 class="order_detail">Product Name</h4>
                        </div> 
                        <div class="col-4 d-flex justify-content-between">
                            <h4 class="order_detail">Quantity</h4>
                            <h4 class="order_detail">Order Id</h4>
                        </div>
                        <div class="col-3">
                            <h4 class="order_detail">Price</h4>
                        </div>
                    </div>
                    <div class="row product-order-detail text-center" *ngFor="let product of orderDetails?.Order_data">
                        <div class="col-2">
                            <!-- <img [src]="product.images[0].src" alt="" class="img-fluid"> -->
                             <a><img 
                                [lazyLoad]="ImageSrc ? ImageSrc : product?.image" 
                                class="img-fluid lazy-loading" 
                                alt="{{ product?.image.alt }}" /></a>
                        </div>
                        <div class="col-3 order_detail">
                            <div  class="pt-3">
                                <h5>{{ product?.product_name | slice:0:15}}</h5>
                            </div>
                        </div>
                        <div class="col-4 order_detail d-flex justify-content-between">
                            <div class="order_qty pt-3">
                                <h5>{{ product?.order_quantity }}</h5>
                            </div>
                            <div class="pt-3">
                                <h5>{{ product?.order_id }}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div  class="pt-3">
                                <h5>{{ product?.order_price * productService?.Currency?.price| currency:productService?.Currency.currency:'symbol' }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="total-sec">
                        <ul>
                            <li>Subtotal <span>{{ orderDetails?.Total_order_amount | currency:productService?.Currency.currency:'symbol' }}</span></li>
                            <li>Shipping <span>00.00</span></li>
                            <li>Tax <span>00.00</span></li>
                        </ul>
                    </div>
                    <div class="final-total">
                        <h3>total <span>{{ orderDetails?.Total_order_amount | currency:productService?.Currency.currency:'symbol' }}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row order-success-sec">
                    <div class="col-sm-6">
                        <h4>summery</h4>
                        <ul class="order-detail">
                            <!-- <li>order ID: {{ orderDetails?.orderId }}</li> -->
                            <li>Order Date: {{orderDetails?.order_date | date}}</li>
                            <li>Order Total: {{ orderDetails.Total_order_amount | currency:productService?.Currency.currency:'symbol' }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4>shipping address</h4>
                        <ul class="order-detail" *ngFor="let shippingAddress of orderDetails?.address">
                            <li>{{ shippingAddress?.address }}</li>
                            <li>{{ shippingAddress?.state }}</li>
                            <li>{{ shippingAddress?.country }}, {{ shippingAddress?.pincode }}</li>
                            <li>Contact No. {{ shippingAddress?.mobile }}</li>
                        </ul>
                    </div>

                    <div class="col-sm-12 payment-mode">
                        <h4>payment method</h4>
                        <p>{{orderDetails.payment_method}}</p>
                    </div>
                    <div class="col-md-12">
                        <div class="delivery-sec">
                            <h3>expected date of delivery</h3>
                            <h2>April 21, 2023</h2>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 mt-4">
                       <a type="button" class="btn btn-solid ft-right"  [routerLink]="['/shop/collection/left/sidebar']">continue shoping</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Section ends -->