@media(max-width:578px){
    .chk-btn{
        justify-content: unset!important;
        display: unset!important;
        margin-top:5px!important;
    }
    .shp-btn{
        margin-top: 30px;
    }
}