.network-logo {
    margin-left: auto;
    width: 50px;
    height: auto;
}
.bank-logo img {
    height: 22px;
}
.card-body{
    border-radius:8px;
}
.f-w-600{
    font-size:16px;
    font-weight: 600!important;
}
.f-w-550{
    font-size:16px;
    font-weight: 550;
}
.field-label{
    margin-bottom: 0.2rem;
    font-weight: 500;
    font-size: 15px;
}
.checkbox{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.address{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.mr-1{
    margin-right: 10px;
}
.search-form .form-group:after {
    position: absolute;
    content: "\f002";
    font-family: FontAwesome;
    top: 73px;
    left: 49px;
    color: #8e8e8e;
}
.search-form .form-group:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 25px;
    background: #e8ebf2;
    left: 75px;
    top: 70px;
}
.pr0{
    padding-right: 0px;
}
// .c-ribbon {
//     position: absolute;
//     display: block;
//     font: bold 0.75rem "Poppins", Arial, sans-serif;
//     background: #fff;
//     color: #1e1935;
//     text-decoration: none;
//     padding: 5px;
//     text-align: center;
//     width: 100px;
//     z-index: 100;
// }
// .c-ribbon.c-ribbon--top {
//     top: 91px;
//     left: 1px;
// }
// .c-ribbon.c-ribbon--top.c-ribbon--left, .c-ribbon.c-ribbon--bottom.c-ribbon--right {
//     transform: rotate(-45deg);
// }
