.invalid-feedback{
    margin:10px 0px;
  }
  .fwd{
    margin-left: 5px;
    color: #ff371d;
    text-underline-position: underline;
    cursor: pointer;
  }
  .elec_banner1 img{
    margin-top:46px;
    border-radius:8px;
    }
    .mb-none img{
      border-radius:8px;
    }
    @media (max-width: 760px) {
      .d_block{
        display:block !important;
      }
    }
    @media (max-width: 1024px) {
      .elec_banner1 img{
        margin-top:0px;
        display: none;
      }
      .mb-none{
        display: none;
      }
      .mb-4{
        margin-bottom: 0px!important;
      }
    }