.invalid-feedback{
    margin:10px 0px;
    display: block !important;
  }
  .fwd{
    margin-left: 5px;
    color: #ff371d;
    text-underline-position: underline;
    cursor: pointer;
  }
  .elec_banner1 img{
    margin-top:46px;
    border-radius:8px;
    }
    .mb-none img{
      border-radius:8px;
    }
    @media (max-width: 760px) {
      .d_block{
        display:block !important;
      }
    }
    @media (max-width: 1024px) {
      .elec_banner1 img{
        margin-top:0px;
        display: none;
      }
      .mb-none{
        display: none;
      }
      .mb-4{
        margin-bottom: 0px!important;
      }
    }
    .fa-user-o{
      position: relative;
      top: -33px;
      right: 28px;
      float: right;
      font-size: 15px;
    }
    .fa-envelope-o{
      position: relative;
      top: -33px;
      right: 28px;
      float: right;
      font-size: 15px;
    }
    .fa-phone{
      position: relative;
      top: -33px;
      right: 28px;
      float: right;
      font-size: 15px;
    }
    .btn-solid{
      background-size: 1700px;
    }
    .f_s{
      font-size: 16px;
    }
    .w-65{
      width: 70%!important;
    }
    .card{
      border:none;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    }
    .carousel-item img{
     height: 628px;
     object-fit: cover;
      border-radius: 0.375rem 0px 0px 0.375rem;
    }
    @media(max-width:1024px){
      .w-65{
        width:100%!important;
      }
      .carousel-item img{
        border-radius:0.375rem 0.375rem 0px 0px;
      }
      .register-page .theme-card {
        padding:25px!important;
      }
    }
    .register-page .theme-card {
      padding: 35px 66px 30px 30px;
    }
    @media(min-width:1200px) and (max-width:1450px){
      .register-page .theme-card {
        padding: 30px 30px 30px 9px!important;
      }
    }