.address-box{
    height: 48px;
    text-transform: uppercase;
    color: #878787;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 24px;
    border-radius: 2px 2px 0 0;
    h3{
        font-size:16px;
    }
}
.order{
    font-size: 13px;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 3px 7px;
    vertical-align: baseline;
    margin-right: 17px;
}
.card_1{
    background: #f8f8f9;
    border-radius: 4px;
}
.qtys{
 color:#000000;
 font-size:21px;
 padding-left: 94px;
 font-weight: 600;
}
.pqt{
    padding-left:100px;
}
.prd{
 width:177px;
}
@media(min-width:1280px) and (max-width:1480px){
    .pqt{
        padding-left:63px;
    }  
}
.accordion-button{
    border-radius: 8px!important;
}
.accordion-item{
    border-radius: 8px!important; 
}