.address-box{
    height: 48px;
    text-transform: uppercase;
    color: #878787;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 24px;
    border-radius: 2px 2px 0 0;
    h3{
        font-size:16px;
    }
}
.order{
    font-size: 13px;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 3px 7px;
    vertical-align: baseline;
    margin-right: 17px;
}
.card_1{
    background: #f8f8f9;
    border-radius: 4px;
}
.qtys{
 font-size:21px;
 padding-left: 94px;
 font-weight: 600;
}
.pqt{
    padding-left:100px;
}
.prd{
 width:177px;
}
.fa-trash {
    font-size: 18px;
    color: red;
}

.prt_quantity {
    text-align: center;
    position: relative;
    right: 13px;
}
.fs-16 {
    text-transform: capitalize;
    font-weight: 600;
}
.ship_icon {
    width: 25px;
    height: 25px;
    top: -6px;
    right: 3px;
    position: relative;
}
.total{
    margin-bottom: 20px;
    padding-left: 10px;
}
.total li span {
    font-weight: 600;
}
.total li {
    font-weight: 600;
    font-size: 16px;
}
.customer_name {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0px;
    color: #202529;
}

.home_address {
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    margin-left: 13px;
    color: #363f47;
}

.address_detail {
    margin-bottom: 5px;
    text-transform: capitalize;
}
@media(min-width:1280px) and (max-width:1480px){
    .pqt{
        padding-left:63px;
    }  
}
.accordion-button{
    border-radius: 8px!important;
}
.accordion-item{
    border-radius: 8px!important; 
}
@media(max-width:578px){
    .mb-btn{
        margin-top: 10px;
        margin-left: 10px;
    }
    .pqt{
        padding-left:0px;
    } 
    .qtys{
        padding-left: 38px;
    }
}
.fs-20{
    font-size: 20px;
}
.fs-16{
    font-size: 16px;
}
.mb_20{
    margin-bottom: 20px!important;
}