<app-breadcrumb [title]="'Checkout'" [breadcrumb]="'Checkout'"></app-breadcrumb>
<section class="section-b-space">
    <div class="container">
        <div class="checkout-page">
            <div class="checkout-form">
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <!-- <div class="row">
                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                    <div class="card_1 mb-3">
                                        <div class="address-box">
                                        <h3>
                                            <span class="order">1</span>
                                            <span>Login or Signup</span>
                                        </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                    <div class="card_1 mb-3">
                                        <div class="address-box">
                                        <h3>
                                            <span class="order">2</span>
                                            <span>Delivery Address</span>
                                        </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                    <div class="card_1 mb-3">
                                        <div class="address-box">
                                        <h3>
                                            <span class="order">3</span>
                                            <span>Order Summary</span>
                                        </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                    <div class="card_1 mb-3">
                                        <div class="address-box">
                                        <h3>
                                            <span class="order">4</span>
                                            <span>Payment Options</span>
                                        </h3>
                                        </div>
                                    </div>
                                </div>
                           </div> -->
                           <div class="accordion accordion-flush" id="accordionFlushExample">
                            <!-- <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Login or Signup
                                </button>
                              </h2>
                              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                              </div>
                            </div> -->
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                  Delivery Address
                                </button>
                              </h2>
                              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body"> 
                                    <div  *ngIf="!isAdd" class="check_address">
                                    <div *ngFor="let address of Address"let i="index" class="form-check">
                                        <input class="form-check-input" type="radio" [value]="address.id" [checked]="address.is_default" [(ngModel)]="address_id" name="selectedAddress" id="selectedAddress">
                                        <div  class="address_info mb-3">
                                          <h6>{{address.name}} <span>{{address.type_id}}</span></h6>
                                          <p>{{address.address}}, {{address.area}}, {{address.landmark}},
                                                                {{address.city}}, {{address.state}}, {{address.country}},
                                                                {{address.pincode}}</p>
                                        </div>
                                      </div>
                                      <!-- <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <div  class="address_info mb-3">
                                            <h3>Contact Information</h3>
                                        </div>
                                      </div> -->
                                      <button *ngIf="this.Address?.length" (click)="selectAddress()"class="btn btn-solid px-2 py-2 mx-3">Use this address</button>
                                      <button (click)="addNewAddress()"class="btn btn-solid px-2 py-2 mb-btn">Add New Address</button>
                                      </div>
                                   <!--edit address-->
                                   <div class="row check-out" *ngIf="isAdd">
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-label">First Name</div>
                                        <input type="text" name="firstname" [formControl]="checkoutForm.controls['firstname']" value="" placeholder="" autocomplete="off">
                                        <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.required" class="text text-danger">
                                        First Name is required.
                                        </div>
                                        <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.pattern" class="text text-danger">
                                        First Name must be an alphabates.
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-label">Last Name </div>
                                        <input type="text" name="lastname" [formControl]="checkoutForm.controls['lastname']" value="" placeholder="" autocomplete="off">
                                        <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.required" class="text text-danger">
                                        Last Name is required.
                                        </div>
                                        <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.pattern" class="text text-danger">
                                        Last Name must be an alphabates.
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-label">Phone</div>
                                        <input type="text" name="phone" [formControl]="checkoutForm.controls['phone']" value="" placeholder="" autocomplete="off">
                                        <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.required" class="text text-danger">
                                         Phone No is required.
                                        </div>
                                        <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.pattern" class="text text-danger">
                                          Phone No is must be number.
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-label">Email Address</div>
                                        <input type="text" name="email" [formControl]="checkoutForm.controls['email']" value="" placeholder="" autocomplete="off">
                                        <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.required" class="text text-danger">
                                         Email is required
                                        </div>
                                        <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.email" class="text text-danger">
                                         Invalid Email
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Country</div>
                                        <select name="country" [formControl]="checkoutForm.controls['country']">
                                            <option value="" selected>Select Country</option>
                                            <option value="India">India</option>
                                            <option value="USA">USA</option>
                                            <option value="Australia">Australia</option>
                                        </select>
                                        <div *ngIf="checkoutForm.controls.country.touched && checkoutForm.controls.country.errors?.required" class="text text-danger">
                                         Country is required
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Address</div>
                                        <input type="text" name="address" [formControl]="checkoutForm.controls['address']" value="" placeholder="" autocomplete="off">
                                        <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.required" class="text text-danger">
                                         Address is required
                                        </div>
                                        <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.maxlength" class="text text-danger">
                                          Maximum 50 character
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Town/City</div>
                                        <input type="text" name="town" [formControl]="checkoutForm.controls['town']" value="" placeholder="" autocomplete="off">
                                         <div *ngIf="checkoutForm.controls.town.touched && checkoutForm.controls.town.errors?.required" class="text text-danger">
                                         City is required
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                        <div class="field-label">State</div>
                                        <input type="text" name="state" [formControl]="checkoutForm.controls['state']" value="" placeholder="" autocomplete="off">
                                         <div *ngIf="checkoutForm.controls.state.touched && checkoutForm.controls.state.errors?.required" class="text text-danger">
                                         State is required
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                        <div class="field-label">Postal Code</div>
                                        <input type="text" name="postalcode" [formControl]="checkoutForm.controls['postalcode']" value="" placeholder="" autocomplete="off">
                                        <div *ngIf="checkoutForm.controls.postalcode.touched && checkoutForm.controls.postalcode.errors?.required" class="text text-danger">
                                         Postalcode is required
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <input type="checkbox" name="shipping-option" id="account-option"> &nbsp; &nbsp;
                                        <label for="account-option">Create An Account?</label>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <button class="btn btn-solid" (click)="reviewAddress()">View Address</button>
                                    </div>
                                </div> 
                                   <!---->
                                    </div>
                              </div>
                            </div>
                            <!-- <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                  Saved Cards
                                </button>
                              </h2>
                              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                              </div>
                            </div> -->
                          </div>
                            <!-- <div class="row check-out">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">First Name</div>
                                    <input type="text" name="firstname" [formControl]="checkoutForm.controls['firstname']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.required" class="text text-danger">
                                    First Name is required.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.pattern" class="text text-danger">
                                    First Name must be an alphabates.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Last Name </div>
                                    <input type="text" name="lastname" [formControl]="checkoutForm.controls['lastname']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.required" class="text text-danger">
                                    Last Name is required.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.pattern" class="text text-danger">
                                    Last Name must be an alphabates.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Phone</div>
                                    <input type="text" name="phone" [formControl]="checkoutForm.controls['phone']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.required" class="text text-danger">
                                     Phone No is required.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.pattern" class="text text-danger">
                                      Phone No is must be number.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Email Address</div>
                                    <input type="text" name="email" [formControl]="checkoutForm.controls['email']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.required" class="text text-danger">
                                     Email is required
                                    </div>
                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.email" class="text text-danger">
                                     Invalid Email
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Country</div>
                                    <select name="country" [formControl]="checkoutForm.controls['country']">
                                        <option value="" selected>Select Country</option>
                                        <option value="India">India</option>
                                        <option value="USA">USA</option>
                                        <option value="Australia">Australia</option>
                                    </select>
                                    <div *ngIf="checkoutForm.controls.country.touched && checkoutForm.controls.country.errors?.required" class="text text-danger">
                                     Country is required
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Address</div>
                                    <input type="text" name="address" [formControl]="checkoutForm.controls['address']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.required" class="text text-danger">
                                     Address is required
                                    </div>
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.maxlength" class="text text-danger">
                                      Maximum 50 character
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Town/City</div>
                                    <input type="text" name="town" [formControl]="checkoutForm.controls['town']" value="" placeholder="" autocomplete="off">
                                     <div *ngIf="checkoutForm.controls.town.touched && checkoutForm.controls.town.errors?.required" class="text text-danger">
                                     City is required
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                    <div class="field-label">State</div>
                                    <input type="text" name="state" [formControl]="checkoutForm.controls['state']" value="" placeholder="" autocomplete="off">
                                     <div *ngIf="checkoutForm.controls.state.touched && checkoutForm.controls.state.errors?.required" class="text text-danger">
                                     State is required
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                    <div class="field-label">Postal Code</div>
                                    <input type="text" name="postalcode" [formControl]="checkoutForm.controls['postalcode']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.postalcode.touched && checkoutForm.controls.postalcode.errors?.required" class="text text-danger">
                                     Postalcode is required
                                    </div>
                                </div>
                            </div> -->
                          <!-- <div class="row ">
                            <div class="col-12">
                              <div class="stripe-section">
                                <h5>stripe js</h5>
                                <div class="content">
                                  <h5>dummy test</h5>
                                  <table>
                                    <tr>
                                      <td>cart number</td>
                                      <td>4242424242424242</td>
                                    </tr>
                                    <tr>
                                      <td>mm/yy</td>
                                      <td>2/2020</td>
                                    </tr>
                                    <tr>
                                      <td>cvc</td>
                                      <td>2222</td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row margin-cls">
                            <div class="col-12">
                              <div class="stripe-section">
                                <h5>paypal</h5>
                                <div class="content">
                                  <h5>dummy test</h5>
                                  <table>
                                    <tr>
                                      <td>cart number</td>
                                      <td>4152521541244</td>
                                    </tr>
                                    <tr>
                                      <td>mm/yy</td>
                                      <td>11/18</td>
                                    </tr>
                                    <tr>
                                      <td>cvc</td>
                                      <td>521</td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div> -->
                        </div>

                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="order-box">
                                    <!-- <div class="title-box">
                                        <div class="d-flex justify-content-between">Product<h3 class="qtys">Quantity</h3> <span> Total</span></div>
                                    </div> -->
                                    <!-- <ul class="qty" *ngIf='checkoutProductData?.length'>
                                        <li *ngFor="let product of checkoutProductData">
                                          <label class="prd">{{ product.product_name | slice:0:26 }}</label>
                                           <label class="pqt">{{ product.quantity }}</label>
                                        	<span>
                                                {{ (product.total_product_value) * productService?.Currency.price | currency:productService?.Currency.currency:'symbol' }}
                                            </span>
                                            <span>
                                              <i class="fa fa-times" aria-hidden="true"></i>
                                            </span>
                                        </li>
                                    </ul> -->
                                   
                                  <div *ngIf='checkoutProductData?.length' class="col-lg-12 col-sm-12 col-xs-12">
                                    <table class="table mb_20">
                                      <thead>
                                        <tr>
                                          <th class="fs-20">Product</th>
                                          <th class="fs-20">Quantity</th>
                                          <th class="fs-20">Total</th>
                                          <th class="fs-20">Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let product of checkoutProductData">
                                          <td class="fs-16">
                                            {{ product.product_name | slice:0:26 }}
                                            <span *ngIf="product?.estimated_delivery_date" style="display: flex;font-size: 12px;">Get it by: {{product?.estimated_delivery_date}}</span>
                                             </td>
                                             <td class="fs-16">
                                            {{ product.quantity }}
                                             </td>
                                             <td class="fs-16">
                                            {{ (product.total_product_value) * productService?.Currency.price | currency:productService?.Currency.currency:'symbol' }}
                                            </td>
                                            <td class="fs-16">
                                              <i (click)="removeFromCheckout(product?.product_id)" class="fa fa-trash" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                        <tr *ngIf="undeliveredProductData?.length">
                                          <h6 style="color: red;display: flex;">These Products are not deliverable to your location</h6>
                                        </tr>
                                        <tr *ngFor="let product of undeliveredProductData">
                                          <td class="fs-16">
                                            {{ product.product_name | slice:0:26 }}
                                             </td>
                                             <td class="fs-16">
                                            {{ product.quantity }}
                                             </td>
                                             <td class="fs-16">
                                            {{ (product.total_product_value) * productService?.Currency.price | currency:productService?.Currency.currency:'symbol' }}
                                            </td>
                                            <td class="fs-16">
                                              <i (click)="removeFromCheckout(product?.product_id)" class="fa fa-trash" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                    <ul class="qty" *ngIf='!checkoutProductData?.length'>
                                        <li class="empty-checkout"> There are no products in cart </li>
                                    </ul>
                                    <ul class="sub-total">
                                        <li>
                                        	<!-- Subtotal <span class="count">{{ getTotal | async | currency:productService?.Currency.currency:'symbol'}}</span> -->
                                        </li>
                                        <ul class="total" *ngIf='Other_charges'>
                                          <li>Shipping Fee <span>{{shipping_charge |currency:productService?.Currency.currency:'symbol'}}</span></li>
                                          <li>Other Charges<span>{{Other_charges |currency:productService?.Currency.currency:'symbol'}}</span></li>
                                         <div class="shipping">
                                            <div class="shopping-option">
                                                <!-- <input type="radio" name="shipping" checked="checked" id="free-shipping">
                                                <label for="free-shipping">Shipping</label> -->
                                                <!-- <h5>{{shipping_charge |currency:productService?.Currency.currency:'symbol'}}</h5>
                                                <h5>{{Other_charges |currency:productService?.Currency.currency:'symbol'}}</h5> -->
                                            </div>
                                            <!-- <div class="shopping-option">
                                                <input type="radio"  name="shipping" id="local-pickup">
                                                <label for="local-pickup">Local Pickup</label>
                                            </div> -->
                                         </div>
                                        </ul>
                                    </ul>
                                    <ul class="total">
                                        <!-- <li>Total <span class="count">{{ getTotal | async | currency:productService?.Currency.currency:'symbol'}}</span></li> -->
                                      <li>Total<span>{{total_order_amount |currency:productService?.Currency.currency:'symbol'}}</span></li>
                                      </ul>
                                </div>
                                <button type="submit" class="btn-solid btn" [disabled]="!EnableselectAddress" (click)="checkout()" >
                                  Place Order
                               </button>
                                <!-- <div class="payment-box" *ngIf='products.length'>
                                    <div class="upper-box">
                                        <div class="payment-options">
                                            <ul>
                                                <li>
                                                    <div class="radio-option">
                                                        <input type="radio" [(ngModel)]="payment" [value]="'Stripe'"  name="payment-group" id="payment-2">
                                                        <label for="payment-2">Stripe
                                                            <span class="small-text">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</span></label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="radio-option paypal">
                                                        <input type="radio" [(ngModel)]="payment" [value]="'Paypal'" name="payment-group" id="payment-3">
                                                        <label for="payment-3">PayPal<span class="image"><img src="assets/images/paypal.png" alt="" /></span></label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <button type="submit" class="btn-solid btn" [disabled]="!checkoutForm.valid" (click)="stripeCheckout()" *ngIf="payment == 'Stripe'">
                                           Place Order
                                        </button>
                                        <button type="submit" class="btn-solid btn" [disabled]="!EnableselectAddress" (click)="checkout()" >
                                          Place Order
                                       </button>
                                        <ngx-paypal [config]="payPalConfig" *ngIf="payment == 'Paypal'"></ngx-paypal>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>