@media (max-width: 577px) {
.search_bar{
    padding: 0px!important;
    top: 79px;
    position: absolute;
    left: 4px;
    width: 100%;
 }
.mobile-cart {
    right: 59% !important;
}
 .mobile-account{
    right: 36% !important;
}
.mobile-setting {
    right: 16%!important;
}
}
.search_bar{
    padding:0px!important;
}