    <div class="row">
        <div class="col-12">
            <div class="card dashboard-table mt-0">
                <div class="card-body table-responsive-sm">
                    <div class="top-sec">
                        <h3>My Orders</h3>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 col-lg-3 pr0">
                        <div class="form-inline search-form search-box w-100">
                            <div class="form-group">
                                <input class="form-control-plaintext" type="search" [(ngModel)]="searchText" (keydown.enter)=" getmyOrders()" placeholder="Order Id/Product Name">
                            </div>
                         </div>
                        </div>
                        <div class="col-md-6 col-lg-9 d-flex justify-content-end">
                            <select class="form-select ft_size" (change)="dateFilterorders($event)" style="width:auto!important;">
                                <option value="" >Recent</option>                     
                                <option value="Last_Month">Last_Month</option>
                                <option value="Last 3 Months">Last 3 Months</option>
                                <option value="Last 6 Months">Last 6 Months</option>
                                <option value="Last 9 Months">Last 9 Months</option>
                                <option value="2023">2023</option>
                              </select>                                                  
                        </div>                                             
            </div>
                    <div style="height: 637px;position: sticky;top: 0px;" class="table-responsive">
                        <table class="table cart-table order-table">
                            <thead>
                                <tr class="table-head">
                                    <th scope="col">image</th>
                                    <th scope="col">Order Id</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Order Status</th>
                                    <th scope="col">Shipment Status</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">View</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="myProducts?.length" style="overflow-y: scroll;">
                                <tr *ngFor="let myproducts of myProducts | paginate
                                : {
                                    itemsPerPage: itemsPerPage,
                                    currentPage: page,
                                    totalItems: totalItems
                                  }">
                                    <td>
                                        <a [routerLink]="['/shop/product/left/sidebar/',myproducts.title.replace(' ', '-'),myproducts.product_id]">
                                            <img src="{{myproducts.image}}"
                                                class="blur-up lazyloaded" alt="">
                                        </a>
                                    </td>
                                    <td>
                                        <span class="mt-0">{{myproducts.order_id}}</span>
                                    </td>
                                    <td>
                                        <span class="fs-6">{{myproducts.title | slice:0:30}}</span>
                                    </td>
                                    <td><span class="badge" [ngClass]="{
                                        'badge-success': myproducts?.order_status === 'ORDER PLACED',
                                        'badge-warning': myproducts?.order_status === 'INPROGRESS',
                                        'badge-secondary': myproducts?.order_status === 'NA',
                                        'badge-danger': myproducts?.order_status === 'CANCELLED' || myproducts?.order_status === 'FAILED'}">{{myproducts?.order_status}}</span></td>
                                    <td>
                                        <span
                                            class="badge rounded-pill custom-badge" [ngClass]="{'bg-danger':myproducts.shipment_status === 'Pending','bg-success':myproducts.shipment_status === 'Shipped','bg-secondary':myproducts.shipment_status === 'Cancelled'}">{{myproducts.shipment_status}}</span>
                                    </td>
                                    <td>
                                        <span class="theme-color fs-6">₹{{myproducts.item_price | number: '1.0-2'}}</span>
                                    </td>
                                    <td>
                                        <a [routerLink]="['/pages/ship-rocket/',myproducts?.order_item_id]" >
                                            <i class="fa fa-eye text-theme"></i>
                                        </a>
                                    </td>
                                </tr>                                                   
                            </tbody>                       
                        </table>
                        <div class="col-sm-12 text-center section-b-space mt-5 no-found" *ngIf="!myProducts?.length">
                            <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
                            <h3>Sorry! Couldn't find the result you were looking For!!! </h3>
                            <p>Please check if you have misspelt something or try searching with other words.</p>
                        </div>
                    </div>
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="myordersPageChange((page = $event))"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
