.productadd{
    float: right;
}
.card-body{
    border-radius: 0px 0px 8px 8px;
}
.page-header-left h3 {
    padding-bottom: 10px;
}
.mr-1{
    margin-right: 7px;
    position: relative;
    top: 2px;
}
.mr0{
    margin-right:0px;
}
.br-radius{
    border-radius: 8px;
}
.file-drop-input{

}
.w-30{
    width:20%;
}
.rotation{
    padding: 0.33rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.card .card-header {
    padding: 0px 0px 10px 0px!important;
}
.search-form .form-group:before {
    left: 53px!important;
    top: 12px!important;
}
.search-form .form-group:after {
    top: 13px!important;
    left: 24px!important;
}
.card-body{
    padding: 10px 0px 10px 0px!important;
}
.table {
      th,
           td {
             &:nth-child(1) {
                text-align: left!important;
             }
            }
        }
.filter_btn{
            background-color: #f1f3fa;
            border-radius: 3px!important;
            border: 1px solid #e0e0e0!important;
            padding: 8px 13px;
            i{
            font-size: 18px;
            top: 3px;
           position: relative;
            }
        }
.filter_btn:hover{
            background-color: #dbe0ef;
            border: 1px solid #dbe0ef!important;
        }
        @media (max-width: 577px){
            .filter_btn{
                padding: 8px 13px;
            } 
            .mb_filters{
                justify-content: unset!important;
                margin-top:3px;
            }
            .form-select{
                margin-top: 5px;
            }
            .dropdown{
                margin-top: 5px;
            }
        }
        @media (max-width:1024px){
            .dropdown{
                margin-top: 10px;
            }
        }
        .btn-primary{
            border-radius: 4px;
            padding: 6px 12px;
          }
          .btn-solid {
            padding: 7px 12px;
          }
          .btn-info{
            border-radius: 4px;
            padding: 7px 12px;
            color: #ffffff;
          }
          .btn-secondary{
            border-radius: 4px;
            padding: 7px 12px;
          }
          .btn {
            line-height: 23px;
          }

