<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Admin dashboard</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">dashboard</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->


<!--  dashboard section start -->
<section class="dashboard-section section-b-space user-dashboard-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="dashboard-sidebar">
                    <div class="profile-top">
                        <div class="profile-image">
                            <img src="../assets/images/avtar.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="profile-detail">
                            <h5>{{userData.first_name}}</h5>
                            <h6>{{userData.email}}</h6>
                        </div>
                    </div>
                    <!-- <div class="faq-tab">
                        <ul class="nav nav-tabs" id="top-tab" role="tablist">
                            <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#info"
                                    class="nav-link active">Account Info</a></li>
                                    
                            <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#products"
                                (click)="resetAdminFilters()"class="nav-link">My Products</a></li>
                            <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#allproducts"
                                    (click)="resetAllProductsFilters()"    class="nav-link">All Products</a></li>
                            <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#allorders"
                                (click)="resetAllOrdersFilters()" class="nav-link">All Orders</a></li>
                            <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#myorders"
                                    (click)="resetMyOrdersFilters()" class="nav-link">My Orders</a></li>
                            <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#sales"
                                (click)="resetSalesFilters()"class="nav-link">Sales</a></li>
                            
                            <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#users"
                                   (click)="resetUsersFilters()" class="nav-link">Users</a></li>
                            <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#vendors"
                                    (click)="resetVendorFilters()" class="nav-link">Vendors</a> </li>
                            
                            <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#localization"
                                    class="nav-link">Localization</a> </li>
                            <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#report"
                                    class="nav-link">Reports</a> </li> 
                            <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#setting"
                                    class="nav-link">Settings</a> </li> 
                            <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#blogs"
                                    class="nav-link">Blogs</a> </li>    
                            <li class="nav-item"><a href="" class="nav-link">Log Out</a> </li>
                        </ul>
                    </div> -->
                    <div class="faq-tab">
                        <ul class="nav nav-tabs">
                            <li class="nav-item" [routerLink]="['/admin','account-info']" class="nav-link active">Account Info</li>  
                            <li class="nav-item" [routerLink]="['/admin','my-products']" class="nav-link active">My Products</li>    
                            <li class="nav-item" [routerLink]="['/admin','all-products']" class="nav-link active">All Products</li>   
                            <li class="nav-item" [routerLink]="['/admin','all-orders']" class="nav-link active">All Orders</li>    
                            <li class="nav-item" [routerLink]="['/admin','my-orders']" class="nav-link active">My Orders</li>    
                            <li class="nav-item" [routerLink]="['/admin','sales']" class="nav-link active">Sales</li>    
                            <li class="nav-item" [routerLink]="['/admin','users']" class="nav-link active">Users</li>    
                            <li class="nav-item" [routerLink]="['/admin','vendors']" class="nav-link active">Vendors</li>    
                            <li class="nav-item" [routerLink]="['/admin','reports']" class="nav-link active">Reports</li>    
                            <li class="nav-item" [routerLink]="['/admin','settings']" class="nav-link active">Settings</li>    
                            <li class="nav-item" [routerLink]="['/admin','blogs']" class="nav-link active">Blogs</li>    
                            <li class="nav-item" (click)="logoutfromDashboard()" class="nav-link active">Log Out</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <router-outlet></router-outlet>
                </div>  
        </div>
    </div>
</section>
<!--  dashboard section end -->
