.invalid-feedback{
    margin:10px 0px;
  }
  .pwd-page{
    padding: 89px 0px;
  }
  .elec_banner img{
    margin-top:43px;
    border-radius: 5px;
    }
    @media (max-width:1024px) {
      .elec_banner img{
        margin-top:0px;
        margin-bottom: 22px;
        display: none;
      }
    }
    .btn{
      padding: 9px 22px;
    }