<!-- <app-breadcrumb [title]="'Forget Password'" [breadcrumb]="'Forget Password'"></app-breadcrumb> -->
<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="elec_banner">
                    <img src="assets/images/electronic.1.png"  class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-5" *ngIf="!isValidatePasswordUrl">
                <h2 style="text-align:center">Forget Your Password</h2>
                <form class="theme-form" [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="email" formControlName="email"[ngClass]="{ 'is-invalid': submitted && f.email.errors }"placeholder="Enter Your Email" data-rule="minlen:3" data-msg="Please enter at least 3 chars" required="">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors">Email is required</div>
                               </div>
                        </div>
                    </div>
                    <div class=" form-group">
                    <button [disabled]="loading" type="submit" class="btn btn-solid">Submit</button>
                    <button class="btn btn-secondary pull-right" type="button">
                        <i aria-hidden="true" class="fa fa-arrow-left" style="margin-right: 5px"></i>Back</button>
                    </div>
                </form>
            </div>
        </div>
        <!--reset start-->
            <div class="col-lg-6 offset-lg-3" *ngIf="isValidatePasswordUrl">

                <h2>Reset Your Password</h2>
                <form class="theme-form" [formGroup]="validatePasswordForm" (ngSubmit)="validatePassword()">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="password">Password (Minimum of 8 Characters):</label>

                            <input class="form-control" autocomplete="off" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && fv.password.errors }"  id="password" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                            <div *ngIf="submitted && fv.password.errors" class="invalid-feedback">
                                <div *ngIf="fv.password.errors.required">Password is required</div>
                               <div *ngIf="fv.password.errors.minlength">Password must be at least 8 characters</div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="confirmPassword">Confirm Password:</label>

                            <input class="form-control" type="password" (input)="checkConfirmPassword()" autocomplete="off" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && fv.confirmPassword.errors }"  id="confirm_password" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                            <div class="invalid-feedback" *ngIf="confirmPasswordError">Password didn't match</div>

                        </div>
                    </div>
                    <div class=" form-group">
                    <button  type="submit" class="btn btn-solid">Reset</button>
                    </div>
                </form>

            </div>
<!--reset end-->
    </div>
</section>
<!--Section ends-->
