    <div class="row">
        <div class="col-12">
            <div class="card dashboard-table mt-0">
                <div class="card-body table-responsive-sm">
                    <div class="top-sec">
                        <h3>My Wishlist</h3>
                    </div>
                    <div class="col-md-12 empty-cart-cls text-center" *ngIf='!wishlistProducts?.length'>
                        <img src="assets/images/empty-wishlist.png" alt="Empty cart" title="Emprt cart">
                        <h3 class="mt-4"><b>Wishlist is Empty</b></h3>
                        <h4>Explore more shortlist some items.</h4>
                      </div>
                    <div *ngIf='wishlistProducts.length' class="table-responsive-xl">
                        <div style="height: 637px;position: sticky;top: 0px;" class="table-responsive">
                        <table class="table cart-table wishlist-table">
                            <thead>
                                <tr class="table-head">
                                    <th scope="col">image</th>
                                    <th scope="col">availability</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let wishlist of wishlistProducts">
                                <tr>
                                    <td>
                                        <a [routerLink]="['/shop/product/left/sidebar/', wishlist.title.replace(' ', '-'),wishlist.id]">
                                          <img class="blur-up lazyloaded" [src]="wishlist.images[0].src" [alt]="wishlist.images[0].alt">
                                        </a>
                                    </td>
                                    <td>
                                        <p>{{ wishlist.stock > 0 ? 'in stock' : 'out of stock' }}</p>
                                    </td>
                                    <td>
                                        <a [routerLink]="['/shop/product/left/sidebar/', wishlist.title.replace(' ', '-'),wishlist.id]">{{ wishlist.title | titlecase |slice:0:30}}</a>
                                    </td>
                                    <td>
                                        <span class="theme-color fs-6">{{ (wishlist.price | discount:wishlist) * productService?.Currency.price | currency:productService?.Currency.currency:'symbol' }}</span>
                                    </td>
                                    <td>
                                        <a  class="btn btn-xs btn-solid" (click)="addToCart(wishlist)" >
                                            Move To Cart
                                          </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
